<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-11-Authentication</title>
</head>
<body>
  Login
  <form action='/messages'>
    <input name="username" placeholder="username"></input>
    <input name="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
  <a href='./signup'>Sign up</a>
</body>
</html>