<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-11-Authentication</title>
</head>
<body>
  Signup
  <form method='POST' action='/users'>
    <input name="username" placeholder="username"></input>
    <input name="password" placeholder="password"></input>
    <input type='submit' value='Create User'></button>
  </form>
</body>
</html>